h1 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times";
}

h2 {
    text-align: center;
    font-size: 26;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times";
}

p {
    text-align: center;
    font-size: 26;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times";
}

h3 {
    text-align: center;
    font-size: 26;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times"; 
}
