body { 
    background: url("../images/kids-art-background.jpg");
    background-size: 100w;
    background-repeat:no-repeat;
    background-position: center center;  
    /* color:#FFF;
    font-family:Arial, Helvetica, sans-serif; */
    min-height: 100%;
} 
   
body, html {
    overflow-x: hidden;
    height: auto;
}

#heading {
    text-align: center;
    padding-top: 50px;   
}

h1 {
    font-size: 76px;
    font-weight: bold;
    padding-bottom: 30px;
    font-family: 'Mountains of Christmas', cursive;
}

.container {
    color: rgb(249, 253, 7);
    text-shadow: 1px 1px 2px rgb(241, 237, 237), black, 0 0 5px darkblue;
    text-align: center;
    padding: 40px; 
}

p {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
    padding-bottom: 67px;
}

.Wins {
    font-size: 26px;
    font-weight: bold;
    color: brown;
}

#lettersGuessed {
    display: inline-block;
    width: 350px; 
    background-color: rgb(199, 122, 71);
}

#tries {
  display: inline-block; 
  width: 45px; 
  background-color: rgb(199, 122, 71);
}

#correctWord {
    color: rgb(19, 18, 18);
    display: inline-block;
    background-color: rgb(112, 137, 248);
}
    
