h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times";
    padding-top: 20px;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    font-family: "Courier New", "Courier", "Monospace";
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    text-align: center;
    padding: -20px;
}

p {
    font-size: 26px;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times";
    padding-bottom: 67px;
}

#letterOptions {
    font-size: 40px; 
}

.text-center {
    background-color: #fffdd0;
    border-width: 3px;
}

.Wins {
    font-size: 26px;
    font-weight: bold;
}

#lettersGuessed {
    display:inline-block;
    width:300px; 
    background-color: rgb(255, 102, 0);
}

#tries {
  display:inline-block; 
  width:45px; 
  background-color:rgb(255, 102, 0);
}